.Weather {
  border: 1px solid #ffb968;
  border-radius: 5px;
  background-color: #052f48;
  color: #d9fbff;
  padding: 10px;
  margin: 30px auto;
  text-align: center;
  margin-bottom: 1px;
}
.time {
  list-style: none;
  text-align: left;
}
.weatherData {
  list-style: none;
}
button {
  font-size: 14px;
  color: #ffb968;
  background-color: #d9fbff;
  border: #052f48;
  border-radius: 3px;
  padding: 9px;
  font-size: 14px;
  font-weight: bold;
}
.Weather h3 {
  margin-left: 40px;
  font-size: 40px;
}
.city {
  color: #ffb968;
}

.Weather p {
  position: relative;
  left: 40px;
}

.Weather .Temp {
  font-size: 80px;
  margin: 0auto;
}
.degree {
  font-weight: lighter;
  font-size: 40px;
  position: relative;
  top: -35px;
}
.Weather .central {
  margin-bottom: -80px;
  margin-top: -50px;
}
.iconImage {
  margin: 0px;
}
